<!DOCTYPE html>
<html lang="en">
  <% include partials/_head %>
  <body>
    <% include partials/_header %>
    <main class="container">
      <h1>Confirmation</h1>
      <div>
        Thank You For Your Order ! <br>
         - You will be notified via SMS when your order is ready for pick up
      </div>


    </main>
    <% include partials/_footer %>
  </body>
</html>
