<!DOCTYPE html>
<html lang="en">
  <% include partials/_head %>
  <body>
    <% include partials/_header %>
    <main class="container">
      <h1>Restaurants</h1>
      <% for (content in data) { %>
        <%= data[content] %>
      <% } %>
    </main>
    <% include partials/_footer %>
  </body>
</html>
