html {
  box-sizing: border-box;

  body {
    margin: 0;
    padding: 0;
    height: 100%;
    color: #244751;
    background-color: #eee;

    #nav-bar {
      position: absolute;
      background-color: #009f86;
      color: #e8fdff;
      height: 80px;
      width: 100%;
      padding: 0 2em 0 2em;
      z-index: 1;

      .logo {
        width: 80px;
        height: 80px;
        float: left;
      }

      .header {
        float: left;
        font-size: 2em;
        line-height: 80px;
        padding-left: 10px;
      }
    }

    main {
      width: 1300px;
      margin: auto;
      background-color: #fff;
      padding-top: 90px;
      padding-bottom: 100px;

      h1 {
        font-size: 20px;
      }
    }

    footer {
      background-color: lightgray;
      width:100%;
    	height:80px;
    	position:absolute;
    	bottom:0;
    	left:0;
      p {
        float: right;
        padding-right: 2em;
        margin-top: 2em;
      }
      img{
        width: 80px;
        height: 80px;
        float: left;
        margin: auto;
      }
    }
  }
}
